/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-content);
  background-image:
    repeating-linear-gradient(to right, #d3d3d3, transparent 2px ),
    repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin: 101px auto;
  padding: 122px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.width__block {
  width: var(--width-block);
}

.header__title {
  margin-top: -3px;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 49px;
  line-height: 100%;
}

.header__text {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}

.content {
  margin: 0 auto;
  margin-bottom: 100px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
  line-height: 120%;
}

.card__image__content {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background-image: url(../images/c0135c1ad4694dbc01d70a766d579d5fa894af53.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow:
  -1px 0 var(--watermark-color),
  0 1px var(--watermark-color),
  1px 0 var(--watermark-color),
  0 -1px var(--watermark-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-color);
    text-stroke: 1px var(--watermark-color);
    text-shadow: none;
  }
}

.card__main__content {
  padding: 28px 26px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-family: var(--main-font);
  font-weight: var(--font-weight-content);
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 7.2px;
}

.like-icon {

}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  block-size: 38px;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  padding-top: 5px;
}

.card__icon-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.save_button {
  flex-direction: column;
  gap: 8px;
  margin: 0 33px;
  block-size: 84px;
}

.save_button_icon {
  inline-size: 28px;
  block-size: 28px;
}

.dialog {
  max-inline-size: 353px;
  inline-size: 90%;
  min-inline-size: 341px;
  block-size: 191px;
  border: 2px solid var(--accent-color);
  padding: 30px 40px;
  margin-bottom: 40vh;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__container {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: 100%;
  border: 2px solid var(--accent-color);
}

@media (width >= 1440px) {
  .header {
    padding: 130px 122.5px;
  }

  .header__title {
    font-size: 65px;
  }

  .header__text {
    font-size: 23px;
  }

  .save_button {
    flex-direction: row;
    margin: 0 182.5px;
    block-size: 55px;
  }

  .save_button_icon {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog {
    padding: 30px;
  }
}